.reading-pane {
  display: block;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  z-index: 3;
}

  .message-pane {
    position: relative;
    display: block;
  }

table {
  border-collapse: collapse;
  height: 100%;
  display: block;
  table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
    border-color: grey;
}

tbody {
  display: block;
  vertical-align: middle;
  border-color: inherit;
  border-spacing: 0;
  border-collapse: collapse;
}

.td1 {
  text-align: left;
  background: none;
  order: 0;
    padding: 0 20px 0 22px;
    position: relative;
    width: 20px;
    align-items: center;
    vertical-align: middle;
}

.td2 {
  text-align: left;
  vertical-align: middle;
  max-width: 700px;
  width: 250px;
    padding-left: 10px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
    border: none;
    flex: 0 0 auto;
}

.td3{
  text-align: left;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
    flex: 1 1 auto;
    height: auto;
    min-width: 100;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border: none;
    order: 1;
    line-height: 20px;
    overflow: visible;
    empty-cells: show;
    outline: none;
    flex-wrap: wrap;
}

tr {
  padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    display: flex;
    position: relative;
    background: rgba(242,245,245,0.8);
    color: #202124;
    cursor: pointer;
    vertical-align: inherit;
    border-color: inherit;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #202124;
    background: rgba(255,255,255,0.902);
    vertical-align: inherit;
    border-color: inherit;
}

tr:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 10;
    user-select: none;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

td{
  vertical-align: middle;
}